body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 500px;
    height: 500px;
}

.box {
    display: flex;
    box-sizing: border-box;
    flex-basis: calc(100%/16);
    height: calc(100%/16);
    border: 2px solid black;
}