body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 600px;
    width: 600px;
}

.box {
    display: flex;
    box-sizing: border-box;
    flex-basis: calc(100%/16);
    height: calc(100%/16);
    border: 2px solid black;
}

.highlight:hover {
    background-color: purple;
}

.size {
    margin: 20px;
    padding: 5px 15px;
    font-size: large;
    font-weight: bold;
    background-color: red;
    color: black;
    border-radius: 15%;
    width: 150px;
    height: 50px;
}