body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 600px;
    height: 600px;
}

.box {
    display: flex;
    box-sizing: border-box;
    flex-basis: calc(100%/16);
    height: calc(100%/16);
    border: 2px solid black;
}

.highlight:hover {
    background-color: purple;
}