* {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fad0c4, #fbc2eb, #a6c1ee);
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 600px;
    width: 600px;
    background-color: white;
}

.box {
    display: flex;
    box-sizing: border-box;
    flex-basis: calc(100%/16);
    height: calc(100%/16);
    border: 2px solid black;
}

.highlight:hover {
    background-color: purple;
}

.size {
    margin: 20px;
    padding: 5px 15px;
    font-size: large;
    font-weight: bold;
    background-color: purple;
    color: white;
    border-radius: 50px / 100%;
    width: 350px;
    height: 50px;
}